@page { margin: 0in; }
body {
    background: url("style/img/plantilla-header.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
}

#watermark {
    position: fixed;

    bottom:   6.5cm;
    left:     0.5cm;

    width:    20cm;
    height:   14cm;

    z-index:  -1000;

    opacity: 0.05;
}

div.container{
    padding: 145px 5px 15px 20px
}

.centrar-texto {
    text-align: center;
}

.izq-texto {
    text-align: left;
}

.der-texto {
    text-align: right;
}

#codigoDiv {
    text-align: right;
    padding-right: 60px;
}

#encabezadoDiv {
    padding-top: 15px;
}

#tituloDiv {
    marging-bottom: 20px;
}

#titulo {
    font-weight: 10;
}

#nombrePersona {
    text-transform: uppercase;
}

.spanMargin {
    margin-left: 25px;
}

.sacramentosDiv {
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.titulo-sacramentos {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.tabla-sacramentos {
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

table.tabla-sacramentos tr td {
    padding: 0px 10px 5px 10px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.tr-padding td {
    padding-bottom: 30px !important;
}

.mat-altura {
    height: 100px;
}

.observacionesDiv {
    margin-left: 100px;
    margin-top: 10px;
}

.registrosDiv {
    margin-top: 50px;
}

.tabla-registros {
    margin-left: auto;
    margin-right: auto;
}

.extiendeDiv {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.firmaDiv {
    margin-top: 70px;
}

.tabla-firma {
    margin-left: auto;
    margin-right: auto;
}

#footer {
    z-index:  -1000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

